/.vs/TemporalFeatures/v15/.suo
/TemporalFeatures/__pycache__/ClusteringModels.cpython-35.pyc
/TemporalFeatures/__pycache__/interface.cpython-35.pyc
/TemporalFeatures/__pycache__/MyNets.cpython-35.pyc
/TemporalFeatures/__pycache__/ReAnomalousTrajectory.cpython-35.pyc
/TemporalFeatures/__pycache__/utils.cpython-35.pyc
/TemporalFeatures/__pycache__/utils_image.cpython-35.pyc
/TemporalFeatures/pymp-3mq3lvf8/pym-5389-pffj545o
/TemporalFeatures/pymp-6kimdqdd/pym-5401-541tz4_d
/TemporalFeatures/pymp-80q8wfmi/pym-5413-zqlbgmur
/TemporalFeatures/pymp-9gvb8dju/pym-147-60ynf57v
/TemporalFeatures/pymp-aumaxvsl/pym-97-x8dkvqxh
/TemporalFeatures/pymp-it4ev015/pym-5363-_snqn3mw
/TemporalFeatures/pymp-j267ozg5/pym-73-k_m1a0zw
/TemporalFeatures/pymp-p6p8586z/pym-135-1_hyaulq
/TemporalFeatures/pymp-phnkzcw9/pym-159-2huaiawq
/TemporalFeatures/pymp-u789dgfl/pym-5351-n78blpzr
/TemporalFeatures/pymp-ykox0agj/pym-5375-umuz7kfs
/TemporalFeatures/pymp-z2drjw35/pym-85-a6q18iz_
