/.vs/TemporalFeatures/v15/.suo
/TemporalFeatures/__pycache__/ClusteringModels.cpython-35.pyc
/TemporalFeatures/__pycache__/interface.cpython-35.pyc
/TemporalFeatures/__pycache__/MyNets.cpython-35.pyc
/TemporalFeatures/__pycache__/ReAnomalousTrajectory.cpython-35.pyc
/TemporalFeatures/__pycache__/utils.cpython-35.pyc
/TemporalFeatures/__pycache__/utils_image.cpython-35.pyc
